/*Color variables*/
:root
{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/*Pading and margin css reset*/
* , *::after , *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
    display: block;
}

/*Layout*/
body
{
    font-family: Manrope, sans-serif;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--Light-Grayish-Blue);
}

.article-container
{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 20rem;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-main-image
{
    height: 200px;
    object-fit: cover;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.author-image
{
    width: 40px;
    height: 40px;

    border-radius: 20px;
    margin-right: 1rem;

    cursor: pointer;
}

.article-content
{
    background-color: white;

    padding: 2em 1.9em 1em;
    font-size: 0.85rem;
}

.article-title
{
    color: var(--Very-Dark-Grayish-Blue);
    line-height: 1.5em;
    margin-bottom: 1rem;
}

.article-text
{
    color: var(--Desaturated-Dark-Blue);
    line-height: 1.3rem;
    font-weight: 500;

    margin-bottom: 2rem;
}

.article-footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.article-author
{
    display: flex;
    align-items: center;
}

.author-name
{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    font-size: 0.85rem;

    margin-bottom: 0.3rem;
}

.author-date
{
    color: var(--Grayish-Blue);
}

.share-button
{
    border: none;
    background-color: var(--Light-Grayish-Blue);
    padding: 8px;
    border-radius: 50%;

    cursor: pointer;

    transition: background-color 0.3s ease-out;
}

.share-button.active
{
    background-color: var(--Desaturated-Dark-Blue);
}

.share-button svg .active
{
    fill: white;
}

.share-container
{
    position: static;
    z-index: 1;
}

.share-options
{
    position: absolute;
    background-color: var(--Very-Dark-Grayish-Blue);

    display: flex;
    align-items: center;
    gap: 14px;
    padding: 1rem 2rem;

    inset: -1em -1.9em;
    z-index: -1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    opacity: 0;

    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.share-options.active
{
    pointer-events: all;
    opacity: 1;
}

.share-text
{
    color: var(--Grayish-Blue);
    letter-spacing: 0.4rem;
}

.share-svg
{
    cursor: pointer;
}

.share-svg:hover .svg-share-fill
{
    fill: black;
}

/*Desktop design*/

@media(min-width:800px)
{
    .article-container
    {
        max-width: 40rem;
        grid-template-columns: 250px 1fr;

        border-radius: 0px 10px 10px 0px;
    }

    .article-main-image
    {
        height: 100%;
        width: 100%;
        object-fit: cover;

        border-radius: 10px 0px 0px 10px
    }

    .article-title
    {
        font-size: 1.2rem;
    }

    .article-text
    {
        font-size: 0.8rem;
    }

    .share-options
    {
        inset: -70px -100px auto auto;
        position: absolute;
        z-index:-1;

        border-radius: 10px 10px 10px 10px;
    }

    .share-options::after
    {
        content: "";
        display: block;
        position: absolute;

        height: 0px;
        width: 0px;

        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--Very-Dark-Grayish-Blue);

        top: 100%;
        left: 45%;
    }
}